body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#calculator {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.bgblue {
    background: linear-gradient(135deg, #fffffff5, #3a4b8a, #ffffff98);
    padding: 1px;
    border-radius: 1.2rem;
    box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
    max-width: 600px;
    margin-bottom: 10px;
}
.card {
    font-size: 1rem;
    color: #bec4cf;
    background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
    padding: 1.5rem;
    border-radius: 1.2rem;
}

/* #button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
} */

button {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
        inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
        inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
}

button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
}

/* 来自Uiverse.io的imtausef */
/* 容器样式 */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    /* 固定高度 */
    max-width: 650px;
    /* 固定宽度 */
    border: 4px solid black;
    /* 边框 */
    border-radius: 1rem;
    /* 圆角 */
    background-color: #f9fafb;
    /* 浅灰色背景 */
    box-shadow: 5px 5px 2.5px 6px rgb(209, 218, 218);
    /* 阴影效果 */
}



/* 顶部边框样式 */
.top-border {
    border: 1px solid black;
    /* 边框 */
    background-color: black;
    /* 黑色背景 */
    width: 80px;
    /* 顶部边框宽度 */
    height: 8px;
    /* 顶部边框高度 */
    border-bottom-left-radius: 1rem;
    /* 底部圆角 */
    border-bottom-right-radius: 1rem;
    /* 底部圆角 */
}

/* 右侧边框样式 */
.right-border {
    position: absolute;
    border: 4px solid black;
    /* 边框 */
    right: -8px;
    /* 定位 */
    border-radius: 0.375rem;
    /* 圆角 */
}

/* 右上边框 */
.right-border.top {
    top: 56px;
    /* 定位 */
    height: 28px;
    /* 右上边框高度 */
}