:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --tertiary-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --primary-blue: #38adff;
    --secondary-blue: #2980b9;
    --tertiary-blue: #3498db;
}

body {
    background-color: var(--primary-blue);
    color: var(--text-color);
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 250px;
    background-color: var(--primary-blue);
    color: var(--text-color);
    padding: 20px;
}

#main-list {
    flex: 1;
    padding: 20px;
}

#task-detail {
    width: 300px;
    background-color: var(--secondary-blue);
    color: var(--text-color);
    padding: 20px;
}

.active {
    background-color: var(--tertiary-blue);
    list-style: none;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: var(--tertiary-blue);
}
