/* 基础样式 */
:root {
    --color-white: #f0f2f5;
    --color-black: #333;
    --color-gray: #ddd;
    --color-green: #4caf50;
    --color-deepgrey: #666;
    --color-red: #ff4d4d

    --fontadd: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    font-family: var(--fontadd);
    background-color: var(--backcolor);
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color-gray);
}

header button {
    background-color: var(--color-green);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* 图书网格布局 */

#library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

/* 图书卡片布局 */
.book-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6cqb rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    border-color: var(--color-deepgrey);
}

.book-item h3 {
    margin: 0;
    color: var(--color-black);
}

.book-item p {
    color: var(--color-deepgrey);
    margin: 5px 0;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#new-book-btn {
    background-color: var(--color-green);
    color: white;
    font-size: 1.1rem;
}

.remove-book-btn {
    background-color: var(--color-red);
    color: white;
    margin-top: auto;
}

dialog {
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#book-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}