/* ID选择器与类选择器 CSS */
.pink {
    background-color: pink;
    font-family: Verdana,"DejaVu Sans",sans-serif;
}
.blue {
    color: blue;
    font-size: 34px;
}
.set-size {
    font-size: 24px;
    color: blue;
}
.green {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
/* 组合选择器CSS */
.bk
.yl {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.bk {
    background-color: black;
    color: white;
}
.yl {
    background-color: yellow;
}
/* 链选择器CSS */
.avatar.proportioned {
    width: 200px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

.original.proportioned {
    width: auto;
    height: auto;
}
.original.distorted {
    width: auto;
    height: 400px;
}

/* 后代选择器CSS */
.container .text {
    background-color: yellow;
    text-align: center;
    font-size: 20px;
    color: red;
}