p {
    color: white;
    background-color: green;
    font-size: 18px;
}
div {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
button {
    background-color: orange;
    font-size: 18px;
}